<!--INSERIR-->

<div class="col-sm-12 sem-padding" *ngIf="this.inserir==true">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-plus"></i> Inserir novo produtor
        </div>
        <div class="card-body">
            <form #formPost="ngForm" (ngSubmit)="postForm(formPost)">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Nome">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="nome" placement="top" tooltip="Nome" name="nome" ngModel
                                    class="form-control" placeholder="Nome">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="CPF / CNPJ">
                                    <i class="fa fa-credit-card-alt"></i>
                                </span>
                                <input type="text" [textMask]="{mask: cpfcnpjmask}" name="cpf_cnpj" id="cpf_cnpj"
                                    placement="top" tooltip="CPF / CNPJ" ngModel class="form-control"
                                    placeholder="CPF / CNPJ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Endereço">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <input type="text" id="endereco" placement="top" tooltip="Endereço" name="endereco"
                                    ngModel class="form-control" placeholder="Endereço">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-sm-4">
                        <div class="form-group">
                            <select name="plano" [ngModel]="selectPlanos" class="form-control" placement="top" tooltip="Plano de assistência técnica">
                                <option value="0">(Selecione o plano de assistência técnica)</option>
                                <option value="1">Platinum</option>
                                <option value="2">Ouro</option>
                                <option value="3">Prata</option>
                                <option value="4">Demanda</option>
                            </select>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="E-mail">
                                    @
                                </span>
                                <input type="email" id="email" name="email" placement="top" tooltip="E-mail" ngModel
                                    class="form-control" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Telefone">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" id="telefone" [textMask]="{mask: telefonemask}" placement="top"
                                    tooltip="Telefone" name="telefone" ngModel class="form-control"
                                    placeholder="Telefone">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group input-switch">
                                Ativo&nbsp;&nbsp;
                                <label class="switch switch-3d switch-primary">
                                    <input type="checkbox" readonly name="ativo" ngModel class="switch-input">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-md btn-success" [disabled]="isBusyForm">
                        Gravar
                        <i class="fa fa-spin fa-spinner" *ngIf="isBusyForm"></i>
                    </button>
                    <button type="button" class="btn btn-md btn-default" (click)="showInserir()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- REATIVAR PRODUTOR-->
<div class="col-sm-12 sem-padding" *ngIf="this.reativar == true">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-plus"></i> Reativar produtor
        </div>
        <div class="card-body">
            <form #formPutReativar="ngForm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Nome">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="nome" name="nome" [ngModel]="selectNome" placement="top"
                                    tooltip="Nome" class="form-control" placeholder="Nome" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="E-mail">
                                    @
                                </span>
                                <input type="email" id="email" name="email" placement="top" tooltip="E-mail"
                                    [ngModel]="selectEmail" class="form-control" placeholder="E-mail" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="CPF / CNPJ">
                                    <i class="fa fa-credit-card-alt"></i>
                                </span>
                                <input type="text" [textMask]="{mask: cpfcnpjmask}" id="cpf_cnpj" placement="top"
                                    tooltip="CPF / CNPJ" name="cpf_cnpj" [ngModel]="selectCPF_CNPJ" class="form-control"
                                    placeholder="CPF / CNPJ" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Endereço">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <input type="text" id="endereco" placement="top" tooltip="Endereço" name="endereco"
                                    [ngModel]="selectEndereco" class="form-control" placeholder="Endereço" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Telefone">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" [textMask]="{mask: telefonemask}" id="telefone" name="telefone"
                                    placement="top" tooltip="Telefone" [ngModel]="selectTelefone" class="form-control"
                                    placeholder="Telefone" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2 text-right">
                        <button type="button" class="btn btn-primary" (click)="hideReativar()">Cancelar</button>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button type="button" class="btn btn-primary"
                            (click)="hideReativar(); putFormReativar(formPutReativar)">Reativar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--EDITAR-->
<div class="col-sm-12 sem-padding" *ngIf=" this.editar == true">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-plus"></i> Editar produtor
            <strong>{{this.GlobalService.getItem().nome}}</strong>
        </div>
        <div class="card-body">
            <form #formPut="ngForm" (ngSubmit)="putForm(formPut)">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Nome">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="nome" name="nome" [ngModel]="this.GlobalService.getItem().nome"
                                    placement="top" tooltip="Nome" class="form-control" placeholder="Nome">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="CPF / CNPJ">
                                    <i class="fa fa-credit-card-alt"></i>
                                </span>
                                <input type="text" [textMask]="{mask: cpfcnpjmask}" id="cpf_cnpj" placement="top"
                                    tooltip="CPF / CNPJ" name="cpf_cnpj"
                                    [ngModel]="this.GlobalService.getItem().cpf_cnpj" class="form-control"
                                    placeholder="CPF / CNPJ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Endereço">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <input type="text" id="endereco" placement="top" tooltip="Endereço" name="endereco"
                                    [ngModel]="this.GlobalService.getItem().endereco" class="form-control"
                                    placeholder="Endereço">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-sm-4">
                        <div class="form-group">
                            <select name="plano" [ngModel]="this.GlobalService.getItem().plano" class="form-control" placement="top" tooltip="Plano de assistência técnica">
                                <option value="0">(Selecione o plano de assistência técnica)</option>
                                <option value="1">Platinum</option>
                                <option value="2">Ouro</option>
                                <option value="3">Prata</option>
                                <option value="4">Demanda</option>
                            </select>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="E-mail">
                                    @
                                </span>
                                <input type="email" id="email" name="email" placement="top" tooltip="E-mail"
                                    [ngModel]="this.GlobalService.getItem().email" class="form-control"
                                    placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Telefone">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" [textMask]="{mask: telefonemask}" id="telefone" name="telefone"
                                    placement="top" tooltip="Telefone" [ngModel]="this.GlobalService.getItem().telefone"
                                    class="form-control" placeholder="Telefone">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group input-switch">
                                Ativo&nbsp;&nbsp;
                                <label class="switch switch-3d switch-primary">
                                    <input type="checkbox" readonly name="ativo"
                                        [ngModel]="this.GlobalService.getItem().ativo" class="switch-input">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-md btn-success" [disabled]="isBusyForm">
                        Salvar
                        <i class="fa fa-spin fa-spinner" *ngIf="isBusyForm"></i>
                    </button>

                    <button type="submit" class="btn btn-md btn-default" (click)="showEditar()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ITENS CADASTRADOS-->

<div class="col-lg-12 sem-padding" *ngIf="this.listar == true">
    <div class="card" *ngIf="read">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4 padding-form mb-2" *ngIf="new">
                    <button (click)="showInserir()" class="btn btn-md btn-success">Novo
                    </button>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <h3>Produtores</h3>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" id="busca" name="busca" ngModel class="form-control" placeholder="Pesquisar"
                            (keyup)='searchFilter($event)'>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div style="overflow-x:auto;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Nome</th>
                            <th>Criado</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of itensFilter | paginate: { itemsPerPage: itemsPerPage, currentPage: page}">
                            <td>
                                <div placement="top" tooltip="Ativo" class="circleBase status1"
                                    *ngIf="item.ativo === 1"></div>
                                <div placement="top" tooltip="Desativado" class="circleBase status2"
                                    *ngIf="item.ativo === 0"></div>
                            </td>
                            <td>{{item.nome}}</td>
                            <td>{{item.created | date: 'dd/MM/yyyy - HH:mm'}}</td>
                            <td align="right">
                                <a *ngIf="read" href="#/fazendas" class="icon-action" placement="top"
                                    tooltip="Fazendas">
                                    <i class="icon-directions"></i>
                                </a>
                                <a *ngIf="edit" (click)="this.GlobalService.marcaItem(item);showEditar()"
                                    placement="top" tooltip="Editar" class="icon-action">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                <a *ngIf="delete" (click)="this.GlobalService.marcaItem(item);deleteItem()"
                                    placement="top" tooltip="Deletar" class="icon-action">
                                    <i class="fa fa-trash-o" title="Deletar"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loader" *ngIf="loading"></div>
            <pagination-controls previousLabel="Anterior" nextLabel="Próxima" (pageChange)="page = $event"
                class="pagination">
            </pagination-controls>
        </div>
    </div>
</div>