<!--INSERIR-->
<div class="col-sm-12 sem-padding" *ngIf="_ShowService.inserir">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-plus"></i> Inserir novo motivo de desativação
        </div>
        <div class="card-body">
            <form #formPost="ngForm" (ngSubmit)="postForm(formPost)">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Motivo">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="motivo" name="motivo" placement="top" tooltip="Motivo" ngModel
                                    class="form-control" placeholder="Motivo">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Observação">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="observacao" name="observacao" placement="top"
                                    tooltip="Observação" ngModel class="form-control" placeholder="Observação">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-md btn-success" [disabled]="isBusyForm">
                        Gravar
                        <i class="fa fa-spin fa-spinner" *ngIf="isBusyForm"></i>
                    </button>
                    <button type="submit" class="btn btn-md btn-default" (click)="_ShowService.showInserir()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--EDITAR-->
<div class="col-sm-12 sem-padding" *ngIf="_ShowService.editar">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-plus"></i> Editar motivo de desativação
            <strong>{{this.GlobalService.getItem().nome}}</strong>
        </div>
        <div class="card-body">
            <form #formPut="ngForm" (ngSubmit)="putForm(formPut)">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Motivo">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="motivo" name="motivo" placement="top" tooltip="Motivo"
                                    [ngModel]="this.GlobalService.getItem().motivo" class="form-control"
                                    placeholder="Motivo">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Observação">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="observacao" name="observacao" placement="top"
                                    tooltip="observação" [ngModel]="this.GlobalService.getItem().observacao"
                                    class="form-control" placeholder="observação">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-md btn-success" [disabled]="isBusyForm">
                        Salvar
                        <i class="fa fa-spin fa-spinner" *ngIf="isBusyForm"></i>
                    </button>

                    <button type="submit" class="btn btn-md btn-default" (click)="_ShowService.showEditar()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Itens Cadastrados-->
<div class="col-lg-12 sem-padding" *ngIf="_ShowService.listar">
    <div class="card" *ngIf="read">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3 padding-form" *ngIf="new">
                    <button (click)="_ShowService.showInserir()" class="btn btn-md btn-success"
                        [disabled]="loading">Novo
                    </button>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <h3>Motivo Desativação</h3>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" id="busca" name="busca" ngModel class="form-control" placeholder="Pesquisar"
                            (keyup)='searchFilter($event)'>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div style="overflow-x:auto;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Motivo</th>
                            <th>observação</th>
                            <th>Criado</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of itensFilter | paginate: { itemsPerPage: itemsPerPage, currentPage: page}">
                            <td>{{item.motivo}}</td>
                            <td>{{item.observacao}}</td>
                            <td>{{item.created | date: 'dd/MM/yyyy - HH:mm'}}</td>
                            <td align="right">
                                <a *ngIf="edit" (click)="this.GlobalService.marcaItem(item);_ShowService.showEditar()"
                                    class="icon-action">
                                    <i class="fa fa-pencil-square-o" placement="top" tooltip="Editar"></i>
                                </a>
                                <a *ngIf="delete" (click)="this.GlobalService.marcaItem(item);deleteItem()"
                                    class="icon-action">
                                    <i class="fa fa-trash-o" placement="top" tooltip="Deletar"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loader" *ngIf="loading"></div>
            <pagination-controls previousLabel="Anterior" nextLabel="Próxima" (pageChange)="page = $event"
                class="pagination">
            </pagination-controls>
        </div>
    </div>
</div>