.bg-login{
    background-image: url('/assets/img/pass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 140%;
    max-width: 100%;
}
.logo-login{
    margin-bottom: 2em;
}

.img-sowtek {
    width: 260px;
    height: auto;
}

.card-group{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}