<!--INSERIR-->
<div class="col-sm-12 sem-padding" *ngIf="_ShowService.inserir">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-plus"></i> Inserir nova granja
        </div>
        <div class="card-body">
            <form #formPost="ngForm" (ngSubmit)="postForm(formPost)">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Nome">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="nome" name="nome" placement="top" tooltip="Nome" ngModel class="form-control" placeholder="Nome">

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <select name="fazendas_id" placement="top" tooltip="Fazenda" [ngModel]="selectFazendas" class="form-control" *ngIf="comboFazendas != 0">
                                <option value="0">(Selecione a fazenda)</option>
                                <option *ngFor="let item of comboFazendas" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboFazendas == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Localização">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <input type="text" id="localizacao" name="localizacao" placement="top"
                                    [textMask]="{mask: localmask}" tooltip="Localização" ngModel class="form-control"
                                    placeholder="Localização (Latitude, Longitude)">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Endereço">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <input type="text" id="endereco" placement="top" tooltip="Endereço" name="endereco" ngModel class="form-control" placeholder="Endereço">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="produtores_id" placement="top" tooltip="Produtor da granja" [ngModel]="selectProdutores" class="form-control"
                                *ngIf="comboProdutores != 0">
                                <option value="0">(Selecione o produtor da granja)</option>
                                <option *ngFor="let item of comboProdutores" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboProdutores == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="veterinarios_id" placement="top" tooltip="Veterinário responsável" [ngModel]="selectVeterinarios" class="form-control"
                                *ngIf="comboVeterinarios != 0">
                                <option value="0">(Selecione o veterinário responsável)</option>
                                <option *ngFor="let item of comboVeterinarios" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboVeterinarios == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="nutricionistas_id" placement="top" tooltip="Nutricionista responsável" [ngModel]="selectNutricionistas" class="form-control"
                                *ngIf="comboNutricionistas != 0">
                                <option value="0">(Selecione o nutricionista responsável)</option>
                                <option *ngFor="let item of comboNutricionistas" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboNutricionistas == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="gerentes_id" placement="top" tooltip="Gerente responsável" [ngModel]="selectGerentes" class="form-control"
                                *ngIf="comboGerentes != 0">
                                <option value="0">(Selecione o gerente responsável)</option>
                                <option *ngFor="let item of comboGerentes" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboGerentes == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="operadores_id" placement="top" tooltip="Operador responsável" [ngModel]="selectOperadores" class="form-control"
                                *ngIf="comboOperadores != 0">
                                <option value="0">(Selecione o operador responsável)</option>
                                <option *ngFor="let item of comboOperadores" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboOperadores == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="modulo_de_producao" placement="top" tooltip="Módulo de produção" [ngModel]="selectModulosDeProducao" class="form-control">
                                <option value="0">(Selecione o módulo de produção)</option>
                                <option value="CC">CC - Ciclo Completo</option>
                                <option value="UPL">UPL - Unidade de Produção de Leitões</option>
                                <option value="UPD">UPD - Unidade de Produção de Desmamados</option>
                                <option value="UT">UT – Unidade de Terminação</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="geneticas_id" placement="top" tooltip="Genética predominante" [ngModel]="selectGeneticas" class="form-control"
                                *ngIf="comboGeneticas != 0">
                                <option value="0">(Selecione a genética predominante)</option>
                                <option *ngFor="let item of comboGeneticas" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboGeneticas == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="plano" [ngModel]="selectPlanos" class="form-control" placement="top" tooltip="Plano de assistência técnica">
                                <option value="0">(Selecione o plano de assistência técnica)</option>
                                <option value="1">Platinum</option>
                                <option value="2">Ouro</option>
                                <option value="3">Prata</option>
                                <option value="4">Demanda</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group input-switch" placement="top" tooltip="Ativo">
                                Ativo&nbsp;&nbsp;
                                <label class="switch switch-3d switch-primary">
                                    <input type="checkbox" readonly name="ativo" ngModel class="switch-input">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-md btn-success" [disabled]="isBusyForm">
                        Gravar
                        <i class="fa fa-spin fa-spinner" *ngIf="isBusyForm"></i>
                    </button>
                    <button type="submit" class="btn btn-md btn-default" (click)="_ShowService.showInserir()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--EDITAR-->
<div class="col-sm-12 sem-padding" *ngIf="_ShowService.editar">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-plus"></i> Editar granja
            <strong>{{this.GlobalService.getItem().nome}}</strong>
        </div>
        <div class="card-body">
            <form #formPut="ngForm" (ngSubmit)="putForm(formPut)">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Nome">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="nome" name="nome" placement="top" tooltip="Nome" [ngModel]="this.GlobalService.getItem().nome" class="form-control"
                                    placeholder="Nome">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <select name="fazendas_id" placement="top" tooltip="Fazenda" [ngModel]="this.GlobalService.getItem().tb_fazendas_id" class="form-control"
                                *ngIf="comboFazendas != 0">
                                <option value="0">(Selecione a fazenda)</option>
                                <option *ngFor="let item of comboFazendas" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboFazendas == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Localização">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <input type="text" id="localizacao" name="localizacao" placement="top" tooltip="Localização" [ngModel]="this.GlobalService.getItem().localizacao"
                                    class="form-control" placeholder="Localização (Latitude, Longitude)">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Endereço">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <input type="text" id="endereco" name="endereco" placement="top" tooltip="Endereço" [ngModel]="this.GlobalService.getItem().endereco"
                                    class="form-control" placeholder="Endereço">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="produtores_id" placement="top" tooltip="Produtor da granja" [ngModel]="this.GlobalService.getItem().tb_produtores_id"
                                class="form-control" *ngIf="comboProdutores != 0">
                                <option value="0">(Selecione o produtor da granja)</option>
                                <option *ngFor="let item of comboProdutores" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboProdutores == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="veterinarios_id" placement="top" tooltip="Veterinário responsável" [ngModel]="this.GlobalService.getItem().tb_veterinarios_id"
                                class="form-control" *ngIf="comboVeterinarios != 0">
                                <option value="0">(Selecione o veterinário responsável)</option>
                                <option *ngFor="let item of comboVeterinarios" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboVeterinarios == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="nutricionistas_id" placement="top" tooltip="Nutricionista responsável" [ngModel]="this.GlobalService.getItem().tb_nutricionistas_id"
                                class="form-control" *ngIf="comboNutricionistas != 0">
                                <option value="0">(Selecione o nutricionista responsável)</option>
                                <option *ngFor="let item of comboNutricionistas" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboNutricionistas == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="gerentes_id" placement="top" tooltip="Gerente responsável" [ngModel]="this.GlobalService.getItem().tb_gerentes_id"
                                class="form-control" *ngIf="comboGerentes != 0">
                                <option value="0">(Selecione o gerente responsável)</option>
                                <option *ngFor="let item of comboGerentes" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboGerentes == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="operadores_id" placement="top" tooltip="Operador responsável" [ngModel]="this.GlobalService.getItem().tb_operadores_id"
                                class="form-control" *ngIf="comboOperadores != 0">
                                <option value="0">(Selecione o operador responsável)</option>
                                <option *ngFor="let item of comboOperadores" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboOperadores == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="modulo_de_producao" placement="top" tooltip="Módulo de produção" [ngModel]="this.GlobalService.getItem().modulo_de_producao"
                                class="form-control">
                                <option value="0">(Selecione o módulo de produção)</option>
                                <option value="CC">CC - Ciclo Completo</option>
                                <option value="UPL">UPL - Unidade de Produção de Leitões</option>
                                <option value="UPD">UPD - Unidade de Produção de Desmamados</option>
                                <option value="UT">UT – Unidade de Terminação</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="geneticas_id" placement="top" tooltip="Genética predominante" [ngModel]="this.GlobalService.getItem().tb_geneticas_id"
                                class="form-control" *ngIf="comboGeneticas != 0">
                                <option value="0">(Selecione a genética predominante)</option>
                                <option *ngFor="let item of comboGeneticas" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboGeneticas == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="plano" placement="top" tooltip="Plano de Assitência" [ngModel]="this.GlobalService.getItem().plano" class="form-control">
                                <option value="0">(Selecione o plano de assistência técnica)</option>
                                <option value="1">Platinum</option>
                                <option value="2">Ouro</option>
                                <option value="3">Prata</option>
                                <option value="4">Demanda</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group input-switch" placement="top" tooltip="Ativo">
                                Ativo&nbsp;&nbsp;
                                <label class="switch switch-3d switch-primary">
                                    <input type="checkbox" readonly name="ativo" [ngModel]="this.GlobalService.getItem().ativo" class="switch-input">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-md btn-success" [disabled]="isBusyForm">
                        Salvar
                        <i class="fa fa-spin fa-spinner" *ngIf="isBusyForm"></i>
                    </button>

                    <button type="submit" class="btn btn-md btn-default" (click)="_ShowService.showEditar()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-lg-12 sem-padding" *ngIf="_ShowService.listar">
    <div class="card" *ngIf="read">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3 padding-form" *ngIf="new">
                    <button (click)="_ShowService.showInserir()" class="btn btn-md btn-success">Novo</button>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <h3>Granjas</h3>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" id="busca" name="busca" ngModel class="form-control" placeholder="Pesquisar" (keyup)='searchFilter($event)'>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div style="overflow-x:auto;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Nome</th>
                            <th>Fazenda</th>
                            <th>Criado</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of itensFilter | paginate: { itemsPerPage: itemsPerPage, currentPage: page}">
                            <td>
                                <div placement="top" tooltip="Ativo" class="circleBase status1" *ngIf="item.ativo === 1"></div>
                                <div placement="top" tooltip="Desativado" class="circleBase status2" *ngIf="item.ativo === 0"></div>
                            </td>
                            <td>{{item.nome}}</td>
                            <td>{{item.nome_fazenda}}</td>
                            <td>{{item.created | date: 'dd/MM/yyyy - HH:mm'}}</td>
                            <td align="right">
                                <a *ngIf="edit" (click)="this.GlobalService.marcaItem(item);_ShowService.showEditar()" placement="top" tooltip="Editar" class="icon-action">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                <a *ngIf="delete" (click)="this.GlobalService.marcaItem(item);deleteItem()" placement="top" tooltip="Deletar" class="icon-action">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loader" *ngIf="loading"></div>
            <pagination-controls previousLabel="Anterior" nextLabel="Próxima" (pageChange)="page = $event" class="pagination"></pagination-controls>

        </div>
    </div>
</div>