.bg-login{
    background-image: url('/assets/img/login-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 140%;
    max-width: 100%;
}

.bb-card {
    border-top: 1px solid #c2cfd6;
    border-right: 1px solid #c2cfd6;
    border-bottom: 0px solid #c2cfd6;
    border-left: 1px solid #c2cfd6;
}

.login-p4{
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 0px !important;
}

.logo-login{
    margin-bottom: 2em;
}

.card-group{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.c-green{
    background-color: #007e69;
    padding: 15px 0px 15px 0px; 
    margin: 0px;
    color: #fff;
    font-size: 12px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.img-sowtek {
    width: 260px;
    height: auto;
}

.img-fairtek-logo{
    width: 80px;
    height: auto;
}

.c-top-p0 {
    padding-top: 0px;
}