<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 text-center mb-2">
                        <h4>Consumo de ração</h4>
                    </div>
                    <div class="col-sm-3 mb-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input id="dt_inicial" name="dt_inicial" *ngIf="!filter1" [(ngModel)]="dt_inicio" placeholder="Data Inicial"
                                class="form-control" tooltip="Data Inicial" (change)="changeFocusFilter('filter1')">
                            <calendar-1000 *ngIf="filter1" format = 'false' title_calendar="Data Inicial" class="inpt-1000-days" range="4" id="dt_inicial" name="dt_inicial" (getConfigureDates)="configureDates($event)"></calendar-1000>

                        </div>
                    </div>
                    <div class="col-sm-3 mb-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input id="dt_final" *ngIf="!filter2" name="dt_final" [(ngModel)]="dt_final"
                                class="form-control" placeholder="Data Final" (change)="changeFocusFilter('filter2')"
                                tooltip="Data Final">
                            <calendar-1000 *ngIf="filter2" format = 'false' title_calendar="Data Final" class="inpt-1000-days" range="4" id="dt_final" name="dt_final" (getConfigureDates)="configureDates($event)"></calendar-1000>

                        </div>
                    </div>
                    <div class="col-sm-3 mb-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon-list"></i>
                            </span>
                            <select name="filtro" id="filtro" class="form-control" [(ngModel)]="filtro">
                                <option value="1"> Diário</option>
                                <option value="2"> Semanal</option>
                                <option value="3"> Quinzenal</option>
                                <option value="4"> Mensal</option>
                                <option value="5"> Semestral</option>
                                <option value="6"> Anual</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center mtpx-7">
                        <button type="submit" class="btn btn-md btn-success" (click)="verificaDatas()"
                            [disabled]="loading"> Atualizar
                        </button>
                        <button class="btn btn-md btn-success " (click)="captureScreen()" [disabled]="isBusyList">
                            Baixar PDF
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div style="display: block" *ngIf="showGraph == 1">
                    <canvas id="contentToConvert" baseChart [datasets]="barChartData" [labels]="barChartLabels"
                        [colors]="lineChartColors" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="loader" *ngIf="loading"></div>
        </div>
    </div>
</div>