<!--INSERIR-->

<div class="col-sm-12 sem-padding" *ngIf="_ShowService.inserir">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-plus"></i> Gravar registros
        </div>
        <div class="card-body">
            <form #formPost="ngForm" (ngSubmit)="postForm(formPost)">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">

                            <select name="baias_id" placement="top" tooltip="Baia" [ngModel]="selectBaias" class="form-control" *ngIf="comboBaias != 0">
                                <option value="0">(Selecione a baia)</option>
                                <option *ngFor="let item of comboBaias" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboBaias == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="dosadores_id" placement="top" tooltip="Dosador" [ngModel]="selectDosadores" class="form-control" *ngIf="comboDosadores != 0">
                                <option value="0">(Selecione o dosador)</option>
                                <option *ngFor="let item of comboDosadores" value="{{item.id}}">{{item.codigo}}</option>
                            </select>
                            <span *ngIf="comboDosadores == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="animais_id" placement="top" tooltip="Animal" [ngModel]="selectAnimais" class="form-control" *ngIf="comboAnimais != 0">
                                <option value="0">(Selecione o animal)</option>
                                <option *ngFor="let item of comboAnimais" value="{{item.id}}">{{item.tatuagem}}</option>
                            </select>
                            <span *ngIf="comboAnimais == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select name="dietas_id" placement="top" tooltip="Dieta" [ngModel]="selectDietas" class="form-control" *ngIf="comboDietas != 0">
                                <option value="0">(Selecione a dieta)</option>
                                <option *ngFor="let item of comboDietas" value="{{item.id}}">{{item.nome}}</option>
                            </select>
                            <span *ngIf="comboDietas == 0">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Carregando...
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="QA">
                                    <i class="fa fa-sort-numeric-desc"></i>
                                </span>
                                <input type="text" id="qa" name="qa" ngModel placement="top" tooltip="QA" class="form-control" placeholder="QA">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" placement="top" tooltip="Dia">
                                    <i class="fa fa-calendar-check-o"></i>
                                </span>
                                <input class="form-control" tooltip="Dia" placeholder="Dia" [bsConfig]="bsConfig" id="dia_animal" name="dia_animal" type="text"
                                    [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue"
                                    placement="bottom">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <span>Status:</span>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group input-switch">
                                Ativo&nbsp;&nbsp;
                                <label class="switch switch-3d switch-primary">
                                    <input type="checkbox" readonly name="ativo" [ngModel]="this.GlobalService.getItem().ativo" class="switch-input">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-md btn-success" [disabled]="isBusyForm">
                        Enviar
                        <i class="fa fa-spin fa-spinner" *ngIf="isBusyForm"></i>
                    </button>
                    <button type="submit" class="btn btn-md btn-default" (click)="_ShowService.showInserir()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-lg-12 sem-padding" *ngIf="_ShowService.listar">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6 padding-form mb-2">
                    <button (click)="_ShowService.showInserir()" class="btn btn-md btn-success">Novo</button>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" id="busca" name="busca" ngModel class="form-control" placeholder="Pesquisar" (keyup)='searchFilter($event)'>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div style="overflow-x:auto;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Registro</th>
                            <th>Criado</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of itensFilter | paginate: { itemsPerPage: itemsPerPage, currentPage: page}">
                            <td>
                                <div placement="top" tooltip="Ativo" class="circleBase status1" *ngIf="item.ativo === 1"></div>
                                <div placement="top" tooltip="Desativado" class="circleBase status2" *ngIf="item.ativo === 0"></div>
                            </td>
                            <td>Baia: {{item.tb_baias_id}} Dosador: {{item.tb_dosadores_id}} Animal: {{item.tb_animais_id}} Dieta:
                                {{item.tb_dietas_id}} QA: {{item.qa}} Dia: {{item.dia_animal}}
                            </td>
                            <td>{{item.created | date: 'dd/MM/yyyy - HH:mm'}}</td>
                            <td align="right">
                                <a (click)="this.GlobalService.marcaItem(item);deleteItem()" class="icon-action" placement="top" tooltip="Deletar">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls previousLabel="Anterior" nextLabel="Próxima" (pageChange)="page = $event" class="pagination"></pagination-controls>

        </div>
    </div>
</div>